header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;    
  height: 40px;
  padding: 2.3rem;
  color: white;
  background: rgb(22, 26, 122);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, p {
  margin: 0;
  font-size: 32px;
  
}

main {
  padding: 1rem;
  height: 100%;  
}

body {
  padding-top: 100px;
  background: #EEE;
}

body, html {
  height: 200%;
}

.menu{
  padding: 0 40px 0 0px;;
}

#wrap {
  width: 400px;
  height: 200px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: rgb(22, 26, 122);
  text-align: center;
  margin:auto;
}

.login_form {
  padding: 20px 50px;
  margin:-10px;
  color:white;
  font-family: "돋움";
}

input {
  margin-bottom: 14px;
  width: 290px;
  height: 30px;
  font-size: 16px;
  border: lightgray;
}

button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid whitesmoke;
}

h2{
  font-size: large;
  color: white;
}

.banner_1{
font-size: large;  
margin: 0 15px; 
}

.banner_2{
  font-size: large;
  margin: 0 15px;

}

.banner_3{
  font-size: large;
  margin:0 15px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');


.btn_1{
  background-color: rgb(244, 244, 244);
  border-radius: 10%;
}

.btn_2{
  background-color: rgb(244, 244, 244);
  margin-left: 10px;
  border-radius: 10%;
}
