header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    height: 40px;
    padding: 1rem;
    color: white;
    background: rgb(22, 26, 122);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    padding: 0 80px;
}

  .menu{
    padding: 0 80px;
}

.banner_1{
    font-size: large;  
    margin: 0 15px; 
    color: white;
   }
   
   .banner_2{
       font-size: large;
       margin: 0 15px;
       color:white;
   
   }
   
   .banner_3{
       font-size: large;
       margin:0 15px;
       color:white;
   }